@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-color: rgb(156, 157, 160);
} */
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.loader {
  width: 104%;
  height: 106%;
  position: absolute;
  top: 0;
  background-size: cover;
  /* transition: all 0.5s ease-in-out; */
  animation: loader 2s step-end infinite;
}
 .l {
 background: #a27eb5;
 }

@keyframes loader {
  0% { background-image: url('/Loading4.svg'); }
  25% { background-image: url('/Loading1.svg'); }
  50% { background-image: url('/Loading2.svg'); }
  75% { background-image: url('/Loading3.svg'); }
  100% { background-image: url('/Loading4.svg'); }

}

/* @media screen and (display-mode: standalone) {
  header {
    height: 90px !important;
  }
} */

@supports(padding:max(0px)) {
  html, body {
      padding-top: min(0vmin, env(safe-area-inset-left));
      padding-bottom: min(0vmin, env(safe-area-inset-right));
  }
}