@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-color: rgb(156, 157, 160);
}
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.loader {
  width: 100%; /* adjust to the size of your images */
  height: 100%; /* adjust to the size of your images */
  background-size: cover;
  transition: all 0.5s ease-in-out;
  animation: loader 1s infinite;
}


@keyframes loader {
  0% { background-image: url('/Loading1.svg'); }
  25% { background-image: url('/Loading1.svg'); }
  50% { background-image: url('/Loading1.svg'); }
  100% { background-image: url('/Loading1.svg'); }

}